secondary-color = rgba(0,0,0,.54);
background-color = white;
primary-text = #000;
small-screen-width = 600px;

border-color = #343536;
border-hover = #818384;
error-color = #ffa9a9;
highlight-link = #ff4081;
side-panel-width = 400px;
highlight-color = #818384;
hover-background = #2a2a2a;
primary-color = #d7dadc;
panel-background = #030303;
post-background = #1A1A1B;